{%extends 'base.html'%}

{%block body%}
    <form action="" method="post" class="container d-flex justify-content-center flex-column align-items-center mt-5">
        {%csrf_token%}
        <div class="w-25 m-2"><label for="" class="form-label">Employee id</label><input class="form-control" type="text" name="eid"></div>
        <div class="w-25 m-2"><label for="" class="form-label">Employee Name</label><input class="form-control" type="text" name="ename"></div>
        <div class="w-25 m-2"><label for="" class="form-label">Employee Salary</label><input class="form-control" type="text" name="esal"></div>
        <div class="w-25 m-2">
            <select name="dept" id="" class="form-select">
                {%for d in depts%}
                    <option value="{{d.deptid}}">{{d.deptname}}</option>
                {%endfor%}
            </select>
        </div>
        <input type="submit" value="Insert" class="btn btn-success w-25">
    </form>
{%endblock%}